body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Элементы идут сверху вниз */
  align-items: center;
  min-height: 100vh; /* Полная высота экрана */
  background-color: #333;
  margin: 0;
  padding: 20px; /* Для отступов */
}

#quote-box {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  max-width: 600px; /* Ограничим ширину */
  margin-bottom: 20px; /* Отступ снизу */
}

#new-quote {
  background: blue;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#new-quote:hover {
  background: darkblue;
}

.quote-text {
  font-style: italic;
}

.quote-text::before,
.quote-text::after {
  content: '"';
}

.favorite-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 900px; /* Такая же ширина, как у quote-box */
  margin-top: 20px; /* Отступ сверху */
}

.favoriteCard {
  background-color: bisque;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 230px;
}

.author {
  font-style: italic;
}

.favorite-icon {
  font-size: 25px;
  color: yellow;
  margin: 5px;
  vertical-align: middle;
  cursor: pointer;
}
